:root {
  --bg-primary: linear-gradient(to right, #355e8d, #0f1a27);
}

* {
  border: 2px solid;
}
html,
body {
  margin: 0;
}

header {
  background: var(--bg-primary);
}

nav {
  display: flex;
  margin: 0;
}

nav .logo {
  align-content: center;
}

nav ul {
}

aside {
  background: var(--bg-primary);
}
aside ul {
  flex-direction: column;
}

.row {
    display: flex;
}

main {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    border: 5px solid red;
}

.card {
  background: var(--bg-primary);
  padding: 5px;
  border-radius: 2vh;
  margin: 5px;
}

.card img {
    width: 20ch;
    border-radius: 2vh;
}


footer {
  background: var(--bg-primary);
}
ul {
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  list-style-type: none;
  padding: 20px;
}

a {
  text-decoration: none;
  /* padding: 20px; */
}
